.row {

}

.tableRowContainer {
    display: flex;
    justify-content: space-between;
    gap: 5px
}

.cellName {
    color: #272A33;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    width: 780px;
    cursor: pointer;
}

.cellName:hover {
    opacity: 0.5;
}

.cell {
    margin: 3px 5px;
    display: flex;
    align-items: center;
    color: #13A3B9;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    gap: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    cursor: pointer;
}

.cell:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.number {
    width: 30px;
}

.zero {
    width: 30px;
    color: #272A33;
}