.label {
    position: relative;
    display: flex;
    flex-direction: column;
    color: #6E7686;
    font-size: 14px;
    font-weight: 500;
    gap: 5px;
}

.input {
    padding: 17px;
    align-items: center;
    border-radius: 5px;
    border: none;
    background-color: #F6F6F9;
    font-size: 16px;
    font-weight: 500;
}

.input[type='search'] {
    padding: 17px 15px 17px 45px;
}

.input::-webkit-search-cancel-button {
    content: url('../../assets/svg/close.svg');
    width: 24px;
    height: 24px;
    appearance: none;
    color: deeppink;
}

input::-webkit-input-placeholder {
    color: #D4D7DB;
}

.input:active, .input:focus {
    outline-color: #D4D7DB;
}

.input:disabled {
    color: #D4D7DB;
}

.passwordControl {
    cursor: pointer;

    position: absolute;
    top: 37px;
    right: 15px;

    display: inline-block;

    width: 22px;
    height: 19px;
}

.hidePassword {
    background: url('../../assets/svg/eye-off-outline.svg') 0 0 no-repeat;
}

.showPassword {
    background: url('../../assets/svg/eye-outline.svg') 0 0 no-repeat;
}

.searchIcon {
    position: absolute;
    top: 43px;
    left: 12px;
    width: 24px;
    height: 24px;
    color: #D4D7DB;
}