.userContainer {
    padding: 55px 135px;
    border-bottom: 1px solid #EDEDF4;
}

.profileInfo {
    width: 970px;
    padding-bottom: 40px;
    border-bottom: 1px solid #EDEDF4;
    text-align: left;
}

.linkToMain {
    display: flex;
    align-items: center;
    gap: 20px
}

.linkContainer {
    display: flex;
    align-items: center;
}

.linkBack, .linkProfile {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: #676A71;
    margin-left: 10px;
}

.linkProfile {
    color: black;
}

.info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.avatar {
    width: 64px;
    height: 64px;
}

.nameSurname {
    color:  #272A33;
    font-size: 24px;
    font-weight: 600;
}

.active {
    color: #22B07D;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    padding: 5px 10px;
    align-items: center;
    gap: 10px;
    background-color: #EAFBF5;
    border-radius: 5px;
}

.status {
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: #13A3B9;
    color: #FFFFFF;
}