.buttonsContainer {
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
}

.buttonsWithText {
    display: flex;
    gap: 20px;
    padding: 5px;
}

.infoButton {
    display: flex;
    padding: 2px 10px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    border: 1px solid #6E7686;
    color: #6E7686;
    background-color: #F9F9F9;
    font-size: 13px;
    font-weight: 500;
}

.buttonIcon {
    width: 20px;
    height: 20px;
}

.addButton {
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    background: #13A3B9;
    color: #FFF;
    font-size: 13px;
    font-weight: 500;
    border: none;
}

.lineIcon {
    width: 28px;
    height: 28px;
}

.buttonsIcons {
    display: flex;
    overflow: hidden;
    gap: 10px
}

.checkboxAndIcon {
    float: left;
    display: inline-block;
    margin: 5px;
}

.checkboxAndIcon input[type=radio] {
    display: none;
}

.checkboxAndIcon label {
    display: inline-block;
    cursor: pointer;
    user-select: none;
}

.buttonsIcons .itemGrid label {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonsIcons .itemLine label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    border-radius: 5px;
}

.buttonsIcons .itemGrid input[type=radio]:checked + label {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.buttonsIcons .itemLine input[type=radio]:checked + label {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}