.headerContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #EDEDF4;
    padding: 16px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

.logo {
    width: 148px;
    height: 40px;
}

.avatar {
    height: 45px;
    width: 45px;
}

.linksContainer {
    display: flex;
    gap: 20px;
}

.linksContainer a {
    color: #6E7686;
    text-decoration: none;
}

.linksContainer a:hover {
    opacity: 0.5;
}

.userContainer {
    display: flex;
    align-items: center;
}

.bellWrapper {
    border-right: 1px solid #EDEDF4;
    padding-right: 20px;
}

.userWrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #6E7686;
    margin-left: 20px;
}

.iconBorder {
    border: 5px solid #F9F9F9;
    border-radius: 50px;
    background-color: #F9F9F9;
}

.enterAccount {
    display: flex;
    gap: 15px;
    color: #6E7686;
    text-decoration: none;
}

.iconBorder:hover, .enterAccount:hover {
    cursor: pointer;
}