.tableContainer {
    padding-bottom: 50px;
    border-bottom: 1px solid #EDEDF4;
}

.searchInput {
    display: flex;
    align-items: flex-end;
}

.inputWrapper {
    text-align: left;
    width: 700px;
}

.buttonSearch {
    display: flex;
    width: 170px;
    padding: 18px 15px;
    justify-content: center;
    align-items: center;
    border-radius: 0 5px 5px 0;
    background: #13A3B9;
    border: none;
    color: white;
}

.table {
    margin: 20px 0 40px;
}

.borderRow {
    border: 1px solid #EDEDF4;
}

.borderRow:first-child {
    border-radius: 5px 5px 0 0;
}

.borderRow:last-child {
    border-radius: 0 0 5px 5px;
}

.pagination {
    display: flex;
    justify-content: center;
}

