.userInfoContainer {
    display: flex;
    flex-direction: column;
    width: 970px;
}

.inputWrapper {
    width: 470px;
}

.submit {
    display: flex;
    width: 270px;
    height: 56px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #13A3B9;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 18px;
    font-weight: 600;
    margin-top: 40px;
}

h3 {
    color: #272A33;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.inputsContainer {
    display: flex;
    flex-wrap: wrap;
    width: 970px;
    gap: 30px;
    margin-top: 20px;
}

.blockContainer {
    text-align: left;
    border-bottom: 1px solid #EDEDF4;
    padding: 40px 0 40px;
}

.edit {
    color: #13A3B9;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.edit:hover {
    opacity: 0.5;
}

.editWrapper {
    display: flex;
    justify-content: space-between;
}

.passwordsContainer {
    display: flex;
    flex-direction: column;
    width: 970px;
    gap: 30px;
    margin-top: 20px;
}

.newPassword {
    display: flex;
    gap: 30px;
}