.switcherContainer {
    margin: 20px 0 150px;
}

.radioGroup {
    display: flex;
    gap: 20px;
    overflow: hidden;
}

.item {
    display: inline-block;
    float: left;
    color: #6E7686;
    font-size: 18px;
    font-weight: 500;
}

.radioGroup input[type=radio] {
    display: none;
}

.radioGroup label {
    display: inline-block;
    cursor: pointer;
    padding: 0 15px;
    line-height: 34px;
    user-select: none;
}

.radioGroup input[type=radio]:checked + label {
    color: #13A3B9;
    border-bottom: 2px solid #13A3B9;
}

.radioGroup label:hover {
    color: #666;
}